
.signup-form {
    background: linear-gradient(#0000008a, #00000075),
    url('../images/signup-bg.jpg') no-repeat right center / cover;
    padding: 100px 0;
}

.signup-group {
    display: flex;
}

.signup-form .quote-3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form .quote-3 p{
    font-size: 3.6rem;
    font-weight: 700;
    color: #df940a;
    line-height: 1.2;
    padding-right: 30px;
}

.signup-form form {
    width: 50%;
    padding: 40px 40px 50px;
    background: #8080808e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.signup-form form h2 {
    font-size: 2rem;
    margin-bottom: 2.2em;
}

label {
    color: #eee;
    font-size: .9rem;
    letter-spacing: 1px;
}

.signup-form input[type='text'],
.signup-form input[type='number'],
.signup-form input[type='email'],
.signup-form input[type='password'],
.signup-form select {
    width: 100%;
    font-size: .9rem;
    padding: .8em;
    margin: 1em 0 2.2em;
    border: none;
    background: #eee;
    letter-spacing: .7px;
    border-radius: 3px;
}

.signup-form .updates {
    display: flex;
    align-items: center;
}

.signup-form .updates label {
    font-size: .7rem;
    letter-spacing: 0.5px;
    margin-left: .5em;
}

form .captcha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

form .captcha input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

form .captcha label {
    margin-right: 3em;
}

form img {
    width: 40px;
}

.signup-form input[type='submit'] {
    font-size: 1rem;
    width: 100%;
    padding: .7em 0;
    border: none;
    background: #058a05b4;
    color: #fff;
    letter-spacing: .8px;
    border-radius: 20px;
    transition: ease .3s;
}

.signup-form input[type='submit']:hover {
    background: #2c2653;
    cursor: pointer;
    letter-spacing: 2px;
}

form .captcha input:hover,
.signup-form .updates input:hover {
    cursor: pointer;
}



/*     ----MEDIA QUERIES----     */

@media (max-width:800px){
    
    .signup-form .quote-3 p{
        font-size: 3rem;
        padding-left: 30px;
    }
    
    .signup-form form {
        padding: 40px 30px 50px;
    }
    
    .signup-form form h2 {
        font-size: 1.8rem;
    }
    
}



@media (max-width:650px){
    
    .signup-group {
        flex-direction: column;
    }
    
    .signup-form .quote-3 {
        width: 100%;
    }
    
    .signup-form .quote-3 p {
        font-size: 2.6rem;
        padding: 0;
        text-align: center;
        margin-bottom: 2em;
    }
    
    .signup-form form {
        width: 90%;
        margin: 0 auto;
    }
}



@media (max-width:500px){
    
    .signup-form{
        padding: 80px 0;
    }
    
    .signup-form .quote-3 p{
        font-size: 2.2rem;
    }
    
    .signup-form form {
        width: 100%;
        padding: 30px 30px 40px;
    }
}



@media (max-width:300px){
    
    .signup-form {
        padding: 60px 0;
    }
    
    .signup-form .quote-3 p{
        font-size: 2rem;
    }
    
    .signup-form form h2{
        font-size: 1.4rem;
    }
    
    .signup-form form {
        width: 100%;
        padding: 25px 15px 35px;
    }
    
     label {
        font-size: .8rem;
    }
    
    .signup-form input[type='text'],
    .signup-form input[type='number'],
    .signup-form input[type='email'],
    .signup-form input[type='password'],
    .signup-form select {
        font-size: .8rem;
    }
    
    .signup-form input[type='submit'] {
        font-size: .9rem;
    }    
}


